/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*nav*/

.nav-top{
    z-index: 1999;
}
.nav-top,
.navbar{
    height: 66px !important;
}

.navbar-nav{
    background-color: #F8F9FA;
}

.navbar .navbar-brand{
    color:#666666;
   font-weight: 400;
   font-size: 20px !important;
}
.navbar-nav li a{
    font-size: 16px;
}
svg{
    margin-right: 10px;
}


.nav-item{
    z-index: 1000;
    background-color: #F8F9FA;
}

.nav-item{
    margin: 0 15px;
}

nav #navbarNav a{
    color:rgb(102, 102, 102);
    position:relative;
}


nav #navbarNav a:hover{
   color:#CDAF9A;
   font-weight: 700;
   -webkit-transform: translateY(-5px);
       -ms-transform: translateY(-5px);
           transform: translateY(-5px);
   -webkit-transition: .3s;
   -o-transition: .3s;
   transition: .3s;

}

 nav .navbar-toggler .navbar-toggler-icon{
     color:#ccc;
 }


 /*navRWD*/

 @media screen and (max-width:1199px){
    nav #navbarNav a{
        font-size: 18px;
    }
 }

